/*styles.css*/

/*Remove all padding and margins*/
*{
    margin: 0;
    padding: 0;
}

/*defauly style*/
body{
    background-color: #f4f4f4;/*Light Gray*/
    color: #333333;
    font-family: Arial, sans-serif;
}

/*Header*/
header{
    background: #35495e;/*Dark Blue-Gray*/
    color: #ffffff;/*White*/
    text-align: center;
    padding: 1rem;
}
header .logo{
    display: inline-block;
    margin: auto;
}
header .logo img{
    display: block;
    height: auto;
    margin: auto;
    max-width: 100px;
}
header .logo span{
    color: #ffffff;/*White*/
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
}

/*nav*/
nav{
    background: #41b883;/*Vibrant Greenish-Blue*/
    padding: 0.5rem;
}
nav ul{
    align-items: center;
    display: flex;
    height: 50px;
    list-style: none;
    justify-content: center;
}
nav ul li{
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0 1rem;
}
nav ul li a{
    color: #ffffff;/*Whihe*/
    font-weight: bold;
    text-decoration: none;
}
nav ul li a:hover{
    background: #ffffff;/*Dark Gray*/
    text-decoration: underline;
    color: #1e90ff;/*Dodger Blue*/
}
nav ul li a.active {
    background-color: #ffcc00;/*Bright Yellow*/
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

/*.main-link*/
.main-link{
    align-items: center;
    height: 50px;
    list-style: none;
}
/*video*/
.thumbnail{
    aspect-ratio: 16/9;
    background: #cccccc;/*Soft Gray*/
    border: 1px solid #333333;/*Dark Gray*/
    line-height: 150px;
    text-align: center;
}

/*footer*/
footer{
    background: #35495e;/*Dark Blue-Gray*/
    bottom: 0;
    color: #ffffff;/*White*/
    left: 50%;
    padding: 1rem;
    position: fixed;
    text-align: center;
    transform: translateX(-50%);
    width: 100%;
    z-index: 100;
}